[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -detectsleep -time 1 -corners "0-00" -locker "/usr/bin/i3lock -c 141414"

[Install]
WantedBy=graphical.target
