alias l='ls -alFh'
alias ll='ls -alFh'
alias la='ls -A'
alias gw='./gradlew'
alias vi='vim'
alias vi16='vim -u ~/.vimrc_16'
alias decr='gpg -d'
alias encr='gpg -c'
alias suspend="sudo systemctl suspend"
alias sshtun='ssh -f -n -N -L'
alias note='cd ~/w/notebook && vim'
