.DS_STORE

*.swp

.bin/kubectl*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.viminfo
*~

.config/autostart
.config/chromium
.config/configstore
.config/dconf
.config/enchant
.config/gcloud
.config/gedit
.config/gnome-initial-setup-done
.config/gtk-2.0
.config/gtk-3.0/bookmarks
.config/gtk-3.0/bookmarks
.config/htop
.config/hub
.config/ibus
.config/KeePass
.config/menus
.config/mimeapps.list
.config/.mono
.config/nautilus
.config/openttd
.config/pavucontrol.ini
.config/pulse
.config/Qt*
.config/Slack
.config/spotify
.config/systemd/user/*.target.wants
.config/user-dirs*
.config/VirtualBox
.config/wireshark

.netrwhist
.netrc

.lesshst
.*history

.gnupg/*
!.gnupg/gpg.conf

.ssh/*
!.ssh/config

.env

.vim/bundle/*
!.vim/bundle/Vundle.vim

.cmus/autosave
.cmus/command-history
.cmus/lib.pl
.cmus/playlist.pl
.cmus/search-history

.elinks/cookies

.links/bookmarks.html
.links/links.his

.mutt/temp
.mutt/cache

# Linux trash folder which might appear on any partition or disk
.Trash-*
