[submodule ".vim/pack/srvaroa/start/vim-fugitive"]
	path = .vim/pack/srvaroa/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/srvaroa/start/vim-gitgutter"]
	path = .vim/pack/srvaroa/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/srvaroa/start/lightline.vim"]
	path = .vim/pack/srvaroa/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/srvaroa/start/nerdtree"]
	path = .vim/pack/srvaroa/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/srvaroa/start/vim-go"]
	path = .vim/pack/srvaroa/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/srvaroa/start/vim-sleuth"]
	path = .vim/pack/srvaroa/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/pack/srvaroa/start/delimitMate"]
	path = .vim/pack/srvaroa/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/pack/srvaroa/start/fzf"]
	path = .vim/pack/srvaroa/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/srvaroa/start/fzf.vim"]
	path = .vim/pack/srvaroa/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/srvaroa/start/limelight.vim"]
	path = .vim/pack/srvaroa/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/srvaroa/start/goyo.vim"]
	path = .vim/pack/srvaroa/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
