.DS_STORE
*.swp
.vim/bundle/*
!.vim/bundle/Vundle.vim
.netrwhist
.gnupg
gnupg
.env
.bash_history

.cmus/autosave
.cmus/command-history
.cmus/lib.pl
.cmus/playlist.pl
.cmus/search-history

.elinks/cookies

.links/bookmarks.html
.links/links.his
