[user]
    name = Galo Navarro
    email = anglorvaroa@gmail.com
[core]
    editor = vim
    ignorecase = false
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
    tool = vimdiff
[gc]
    auto = 1
[fetch]
    prune = true
[merge]
    summary = true
    tool = vimdiff
[mergetool "vimdiff"]
    cmd = vim -f -d \"$2\" \"$5\"
[alias]
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgg = log --date=local --pretty=format:'%h,%at,%ai,%s,%an' --abbrev-commit
    st = status
    ci = commit
    cia = commit --amend
    cis = commit -s
    cism = commit -sm
    co = checkout
    ra = rebase --abort
    rc = rebase --continue
    rb = pull --rebase origin master
    f = fetch
    p = push
    sub = submodule update --init --recursive
[include]
    path = ~/.gitconfig.local
